<a href="https://colab.research.google.com/github/akhilamanoharan2017/C-programming/blob/main/datapreprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
cars_data = pd.read_csv("/content/drive/MyDrive/car_data.csv")
cars_data.head()

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [7]:
cars_data.shape

(205, 23)

In [9]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         205 non-null    int64
 1   make               205 non-null    object
 2   fuel_type          205 non-null    object
 3   aspiration         205 non-null    object
 4   num_of_doors       205 non-null    object
 5   body_style         205 non-null    object
 6   drive_wheels       205 non-null    object
 7   engine_location    205 non-null    object
 8   wheel_base         205 non-null    float64
 9   length             205 non-null    float64
 10  width              205 non-null    float64
 11  height             205 non-null    float64
 12  curb_weight        205 non-null    int64
 13  engine_type        205 non-null    object
 14  num_of_cylinders   205 non-null    object
 15  engine_size        205 non-null    int64
 16  fuel_system        205 non-null    object
 17  compression_ratio  205 non-null    float64
 18  horsepower         205 non-null    object
 19  peak_rpm           205 non-null    object
 20  city_mpg           205 non-null    int64
 21  highway_mpg        205 non-null    int64
 22  price              205 non-null    object
dtypes: float64(5), int64(5), object(13)
memory usage: 37.0+ KB

In [10]:
cars_data.isnull().sum()

Unnamed: 0           0
make                 0
fuel_type            0
aspiration           0
num_of_doors         0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_of_cylinders     0
engine_size          0
fuel_system          0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [14]:
print(cars_data.fuel_type.value_counts())
print(cars_data.num_of_doors.value_counts())
print(cars_data.engine_location.value_counts())
print(cars_data.num_of_cylinders.value_counts())
print(cars_data.drive_wheels.value_counts())
print(cars_data.engine_type.value_counts())
print(cars_data.engine_size.value_counts())

gas       185
diesel     20
Name: fuel_type, dtype: int64
four    114
two      89
?         2
Name: num_of_doors, dtype: int64
front    202
rear       3
Name: engine_location, dtype: int64
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num_of_cylinders, dtype: int64
fwd    120
rwd     76
4wd      9
Name: drive_wheels, dtype: int64
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine_type, dtype: int64
122    15
92     15
97     14
98     14
108    13
90     12
110    12
109     8
120     7
141     7
152     6
181     6
146     6
121     6
156     5
136     5
91      5
183     4
130     4
171     3
70      3
194     3
209     3
164     3
258     2
140     2
134     2
234     2
132     2
131     2
173     1
203     1
161     1
80      1
151     1
103     1
304     1
308     1
326     1
119     1
111     1
79      1
61      1
145     1
Name: engine_size, dtype: int64

In [84]:
cars_data.replace({'fuel_type':{'diesel':0,'gas':1}},inplace=True)

cars_data.replace({'num_of_doors':{'four':0,'two':1,'?':2}},inplace=True)

cars_data.replace({'engine_location':{'front':0,'rear':1}},inplace=True)

cars_data.replace({'drive_wheels':{'fwd':0,'rwd':1,'4wd':2}},inplace=True)

cars_data.replace({'num_of_cylinders':{'four':0,'six':1,'five':2,'eight':3,'two':4,'three':5,'twelve':6}},inplace=True)

In [ ]:
cars_data.head()

In [85]:
x=cars_data[['make','fuel_type','num_of_doors','engine_location','drive_wheels','num_of_cylinders']]

In [96]:
print(x)

            make  fuel_type  num_of_doors  engine_location  drive_wheels  \
0    alfa-romero          1             1                0             1
1    alfa-romero          1             1                0             1
2    alfa-romero          1             1                0             1
3           audi          1             0                0             0
4           audi          1             0                0             2
..           ...        ...           ...              ...           ...
200        volvo          1             0                0             1
201        volvo          1             0                0             1
202        volvo          1             0                0             1
203        volvo          0             0                0             1
204        volvo          1             0                0             1

     num_of_cylinders
0                   0
1                   0
2                   1
3                   0
4                   2
..                ...
200                 0
201                 0
202                 1
203                 1
204                 0

[205 rows x 6 columns]

In [23]:
y= cars_data['price']

In [24]:
print(y)

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: object

In [97]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
#Fill categorical values with 'missing' & numerical values with mean
cat_imputer=SimpleImputer(strategy="constant",fill_value="missing")
num_imputer=SimpleImputer(strategy="mean")

In [103]:
#Define columns

cat_features = ["make","fuel_type"]
num_features =["num_of_doors","engine_location","drive_wheels","num_of_cylinders"]

In [104]:
# Create an imputer (Something that fills missing data)
imputer = ColumnTransformer([
 ("cat_imputer",cat_imputer,cat_features),
 ("num_imputer",num_imputer,num_features)])
# Transformed the Data
filled_x = imputer.fit_transform(x)
filled_x

array([['alfa-romero', 1, 1.0, 0.0, 1.0, 0.0],
       ['alfa-romero', 1, 1.0, 0.0, 1.0, 0.0],
       ['alfa-romero', 1, 1.0, 0.0, 1.0, 1.0],
       ...,
       ['volvo', 1, 0.0, 0.0, 1.0, 1.0],
       ['volvo', 0, 0.0, 0.0, 1.0, 1.0],
       ['volvo', 1, 0.0, 0.0, 1.0, 0.0]], dtype=object)

In [105]:
cars_data_filled = pd.DataFrame(filled_x,columns=["make","fuel_type","num_of_doors","engine_location","drive_wheels","num_of_cylinders"])

In [108]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features = ["make","fuel_type"]
one_hot = OneHotEncoder()
transformer= ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder="passthrough")

transformed_x=transformer.fit_transform(cars_data_filled);
transformed_x

<205x28 sparse matrix of type '<class 'numpy.float64'>'
	with 635 stored elements in Compressed Sparse Row format>

In [ ]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(transformed_x,y,test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)